body
{
    color: #2A2A29;
    background-color:#F4F4F4;
    background-image: url("../img/background.png");
    background-repeat: repeat;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Bree Serif', serif;
}

header
{
    width: 280px;
    height: 134px;
    Margin: auto;
    padding-top: 25px;
}

main
{
    background-image: url("../img/bgquote.png");
    width: 600px;
    height: 281px;
    margin: auto;
}

.quote
{
    width: 600px;
    height: 281px;
}
.container 
{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 210px;
    width: 80%;
  }

  .content 
  {
    position: relative;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
  }

  span
  {
    position: absolute;
    padding-top: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
    display: block;
  }

  .next_btn
  {
    position: absolute;  
    min-width: 120px;
    height: 44px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #3C3C3B;
    border-radius: 12px;
    border: none;
    margin-top: 5px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
    left: 45%;
  }

.next_btn:hover
{
    opacity: 0.7;
    cursor: pointer;
}
